name: Mux Only (NO Upload)

on:
  workflow_dispatch:

jobs:
  mux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id: [1,2,3,4,5]

    steps:
      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y ffmpeg curl

      - name: Download slideshow + audio
        run: |
          mkdir work && cd work

          SLIDES=(
            "https://pixeldrain.com/u/JS6Q9jnb"
            "https://pixeldrain.com/u/NyF1UQ5Q"
            "https://pixeldrain.com/u/ypSbjABE"
            "https://pixeldrain.com/u/jaqdrcsA"
            "https://pixeldrain.com/u/CFjsP8L1"
          )

          AUDIOS=(
            "https://drive.google.com/uc?id=1y-VwADH464i3OHZg3xPMXjnYmRxIZac3"
            "https://drive.google.com/uc?id=1kKdG4zda1NEFipq7nY9d_7gU7Yeiy1p3"
            "https://drive.google.com/uc?id=1fsvFri91k57y5AK9wNfxgPvTOtIx7X5T"
            "https://drive.google.com/uc?id=1En_WIU4lowecrjlfFSRolm9zHZ0PdiE9"
            "https://drive.google.com/uc?id=1QauDvFz0DmJkEixXtnpb9S31U6CrbeYI"
          )

          IDX=$(( ${{ matrix.id }} - 1 ))

          curl -L "${SLIDES[$IDX]}" -o video.mp4
          curl -L "${AUDIOS[$IDX]}" -o audio.mp3

      - name: Mux audio (NO re-encode)
        run: |
          cd work
          ffmpeg -y \
            -i video.mp4 \
            -i audio.mp3 \
            -map 0:v:0 -map 1:a:0 \
            -c copy \
            -shortest \
            final_${{ matrix.id }}.mp4

      - name: Upload as artifact
        uses: actions/upload-artifact@v4
        with:
          name: final_${{ matrix.id }}
          path: work/final_${{ matrix.id }}.mp4
