name: Final Audio + Video Mux (NO re-encode, Direct Drive Upload)

on:
  workflow_dispatch:

jobs:
  mux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id: [1,2,3,4,5]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install tools
      run: |
        sudo apt update
        sudo apt install -y ffmpeg unzip curl
        curl https://rclone.org/install.sh | sudo bash

    - name: Restore rclone config
      run: |
        mkdir -p ~/.config/rclone
        echo "${{ secrets.RCLONE_CONFIG }}" > ~/.config/rclone/rclone.conf

    # ---------------- VIDEO LINKS ----------------
    - name: Set video URL
      run: |
        case "${{ matrix.id }}" in
          1) echo "VIDEO_ID=1Nijq_M6f73tcauIJxKJKvadYnjMl3_ER" >> $GITHUB_ENV ;;
          2) echo "VIDEO_ID=1HJN7xXEDRBnclmSOxZ67ImKajxXoGf5t" >> $GITHUB_ENV ;;
          3) echo "VIDEO_ID=11ZSqye0UzY1EDESK1TddTlEspGUdItZE" >> $GITHUB_ENV ;;
          4) echo "VIDEO_ID=13-Osfv8RmSTYKwxoEztQJGE7FeEjuHcE" >> $GITHUB_ENV ;;
          5) echo "VIDEO_ID=1ZhhcsSIxh9j9oLcqrcEd4KC_nEG1K9tP" >> $GITHUB_ENV ;;
        esac

    # ---------------- AUDIO LINKS ----------------
    - name: Set audio URL
      run: |
        case "${{ matrix.id }}" in
          1) echo "AUDIO_ID=1y-VwADH464i3OHZg3xPMXjnYmRxIZac3" >> $GITHUB_ENV ;;
          2) echo "AUDIO_ID=1kKdG4zda1NEFipq7nY9d_7gU7Yeiy1p3" >> $
